main {

    h1 {
        font-size: x-large;
        font-weight: bold;
        padding: 10px;
    }

    p {
        font-size: small;
        font-weight: normal;
        padding: 4px, 7px;
    }

}